
<style>
        .indent-1 {float: left; align: center;}
        .indent-1 section {width: 50%; float: left;}line;}
</style>

<head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <title>Chat Duel Results</title>
        <META http-equiv="refresh" content="0.5">
</head>

<body>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'GUI/style.css' %}">

        {% block content%}
        <div id="content">
        <section class="indent-1">
                <h1>Chat Duel Results</h1>
                <section>
                        <h3>comment rate per second</h3>
                        <div class="graph left" style="display: block; text-align: center; width: {{graph_size.x}}px; height: {{graph_size.y}}px">
                            {{ comment_rate_div|safe }}
                        </div>
                </section>
                <section>
                        <h3>comment counter history</h3>
                        <div class="graph right" style="display: block; text-align: center; width: {{graph_size.x}}px; height: {{graph_size.y}}px">
                            {{ comment_counter_div|safe }}
                        </div>
                </section>
                <section>
                        <h3>Top Words</h3>
                        <ol>
                                {% if top_words %}
                                {% for word in top_words %}
                                 <li>{{word.text}}: {{word.amount}} = {{word.percentage}}%</li>
                                <ul>
                                        {% for comment in word.comment_list %}
                                        <li>{{comment}}</li>
                                        {% endfor %}
                                </ul>
                                {% endfor %}
                                {% else %}
                                <l>no comments available</l>
                                {% endif %}
                        </ol>
                </section>
        </section>
        </div>
        {% endblock content%}
</body>


