@font-face {
    font-family: 'HDADin';
    src: url('/static/GUI/assets/HDADINOff.ttf');
  }

body {
    font-family: 'HDADin', 'Helvetica', 'Arial', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

#bg {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
    padding-top: 2em;
}

ol {
    list-style: none;
}

.percentage {
    font-family: 'HDADin', 'Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    color: white;
    background: none;
    border: none;
    text-decoration: none;
    margin-left: 10em;
    margin-top: 4.7em;
    
}

.percentage1 {
    font-family: 'HDADin', 'Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    color: white;
    background: none;
    border: none;
    text-decoration: none;
    margin-left: 9.8em;
    margin-top: 4.7em;
    
}

.text {
    font-size: 2em;
    text-align: left;
    margin-left: 14em;
    margin-top: -1.3em;
    display: none;
}

.percentage1 {
    font-size: 2em;
    text-align: center;
    margin-right: 21em;
    margin-top: 3.1em;
}

.text1 {
    font-size: 2em;
    text-align: left;
    margin-left: 14em;
    margin-top: -1.3em;
    display: none;

}

.buttons-both {
    position: absolute;
    bottom: 0;
}

.buttons {
    font-family: 'HDADin', 'Helvetica', 'Arial', sans-serif;
    background-color: #aba7c6;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    transition-duration: 0.4s;
}

.buttons:hover {
    background-color: #575656;
}

.buttons:active {
    background-color: black;
}
