@font-face {
    font-family: 'HDADin';
    src: url('/static/GUI/assets/HDADINOff.ttf');
  }

body {
    font-family: 'HDADin', 'Helvetica', 'Arial', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

#bg {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
    padding-top: 2em;
}

ol {
    list-style: none;
}

.percentage {
    font-size: 2em;
    text-align: center;
    margin-right: 21em;
    margin-top: 5.3em;
}

.text {
    font-size: 2em;
    text-align: left;
    margin-left: 14em;
    margin-top: -1.3em;
}

.percentage1 {
    font-size: 2em;
    text-align: center;
    margin-right: 21em;
    margin-top: 3.1em;
}

.text1 {
    font-size: 2em;
    text-align: left;
    margin-left: 14em;
    margin-top: -1.3em;
}



.buttons {

}
