body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 0;
    margin: 2em 0 0 2em;
}

li {
    font-size: 1em;
}

.graph-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.graph {
    width: 50%;
    overflow: auto;
}

.graph img {
    width: 100%;
    overflow: auto;
}




